// Put any @imports here
// See Readme for a list of supported ones

$myBackground: magenta;
$myColor: white;

body {
  background: $myBackground;
}

.layoutBar { 
  h1{
    margin: 0;
    background: $myColor;
    color: $myBackground;
    font-family: Helvetica, sans-serif;
  }
}

.container {
  h1{
    margin: 0;
    background: $myBackground;
    color: $myColor;
  }
  h1:hover{
    background: $myColor;
    color: $myBackground;
  }
}

