// Put any @imports here
// See Readme for a list of supported ones

$myBackground: #98E205;
$myColor: white;
$myText: #333333;

body {
  background: $myBackground;
}

.layoutBar { 
  h1{
    margin: 0;
    background: $myColor;
    color: $myBackground;
    font-family: Helvetica, sans-serif;
  }
  h1:hover{
    cursor: pointer;
  }
  span{
    color: $myText;
  }
}

.container {
  h1{
    text-align: center;
    background: $myBackground;
    color: $myColor;
    font-size: 100px;
  }
  span{
    // font-size: 300%;
  }
  span:hover{
    color: $myText;
    cursor: pointer;
  }
}

.paragraph {
  width: 80%;
  margin: 30px auto;
  background: $myColor;
  padding: 10px;
  border-radius: 25px;
  color: $myText;
}

