// Put any @imports here
// See Readme for a list of supported ones
@import "font-awesome";

$myBackground: #98E205;
$myColor: white;
$myText: #333333;

body {
  background: $myBackground;
}

// LAYOUT
.layoutBar { 
  h1{
    margin: 0;
    background: $myColor;
    color: $myBackground;
    font-family: Helvetica, sans-serif;
  }
  span:hover{
    cursor: pointer;
    color: $myText;
  }
  span.gaynor{
    color: $myText;
  }
  i{
    float: right;
    margin: 3px 5px 0 0; 
  }
  i:hover{
    cursor: pointer;
    color: $myText;
  }
}

// HOME PAGE
.container {
  h1{
    text-align: center;
    background: $myBackground;
    color: $myColor;
    font-size: 100px;
  }
  h1:hover{
    cursor: default;
  }
  span:hover{
    color: $myText;
    cursor: pointer;
  }
}

// WEB PAGE
#WebsiteList {
  width: 100%;
  text-align: center;
  .website{
    width: 35%;
    margin: 5%;
    background: $myColor;
    padding: 10px;
    // border-radius: 25px;
    color: $myText;
    display: inline-block;
  }
  .website:hover{
    background: $myText;
    color: $myColor;
    cursor: pointer;
  }
}

// DESIGN PAGE
