<div class="layoutBar">
  <h1>
  <span ng-click="vm.menu()">MICHAEL<span class="gaynor">GAYNOR </span><i class="fa fa-bars" id="fa-bars"></i></span><i class="fa fa-github fab" id="fa-github"></i><i class="fa fa-linkedin fab" id="fa-linkedin"></i></h1>
</div>
<ul class="nav visible" id="menu">
  <li><a href="#/">home</a> /</li>
  <li><a href="#/web">web</a> /</li>
  <li><a href="#/design">design</a> /</li>
  <li><a href="#/bio">bio</a> /</li>
  <li><a href="#/contact">contact</a> /</li>
  <li><a href="#/resume">resume</a></li>
</ul>
<div class="container" ui-view>
  
</div>