<div id="WebsiteList">
  <div class="website" id="auditioncity">
    <h3>AuditionCity</h3>
    <p>
    A one-stop resource for actors and directors to get in touch that cuts out the need for paperwork in the audition process.
    </p>
  </div>
  <!-- <br> -->
  <div class="website" id="contactapp">
    <h3>Contact App</h3>
    <p>
      A simple app for adding and keeping track of contact information. 
    </p>
  </div>

  <div class="website" id="sample1">
    <h3>Sample App</h3>
    <p>
      An app that lets you search for sounds and store information in a todo list format.
    </p>
  </div>
  <!-- <br> -->
  <div class="website" id="sample2">
    <h3>Sample Contact App</h3>
    <p>
      An app that lets you post information but only when it meets certain requirements.
    </p>
  </div>
</div>